
.footer{
  position:absolute;
  bottom: 0;
  width: 100%;
  height: 500px;
  background-color: black;
  text-align: center;
  color: white;
}
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

